.modal {
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: transparent;
    top: 50%;
    left: 50%;
    width: 60%;
    height: auto;
    max-width: 700px;
    max-height: 90%;
    z-index: 1000;
    border-radius: 13px;
    overflow: hidden;
    outline: none;
    opacity: 98%;
    display: flex;
}

.modalWrapper {
    background-color: #1A1A1A;
    border-radius: 13px;
    padding: 5px 15px 25px 15px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1;
}

.modalWrapper::-webkit-scrollbar {
    display: none;
    width: 4px;
}

.modalWrapper::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

.modalWrapper::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 10px;
}

.modalWrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.modalTitle {
    margin: 7px 0px 0px 10px;
    font-family: Pretendard-Medium, sans-serif;
    color: #DEDEDE;

}

/* 모달 배경 어둡게 처리 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.closeIcon {
    position: fixed;
    top: 23px;
    left: 660px;
    transition: transform 0.3s ease;
    cursor: pointer;
    z-index: 1002;
}

.closeIcon:hover {
    transform: scale(1.1);
}

.modalImage {
    width: 100%;
    max-width: 260px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.modalContent {
    position: relative;
    margin: 0px 10px;
    font-family: Pretendard-Medium, sans-serif;
    line-height: 1.6;
    color: #DEDEDE;
}

.modalContent h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}

.modalContent p {
    margin-bottom: 7px;
}

.heartBtn {
     position: absolute;
     background: transparent;
     top: 180px;
     left: 470px;
     height: 22px;
     width: 22px;
     border: none;
     cursor: pointer;
     padding: 0
}

.heartIcon {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    fill: #6B61F6;
}

.infoTitle {
    margin-top: 45px;
    font-size: 18px;
    font-weight: bold;
}
/*작품 정보 css*/
.modalTitle {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.infoText {
    margin-top: 2px;
    font-size: 15px;
}

.toast {
    position: fixed;
    top: 300px;
    left: 83%;
    transform: translateX(-50%);
    background-color: black;
    color: #D7D7D7;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    animation: fadeInOut 2.5s ease-in-out;
    z-index: 1000;
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
    10%, 90% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

.link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #7660F5;
    margin-top: 10px;
    margin-left: 40%;
    padding: 7px 16px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.link:hover {
    background-color: #604EC8;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.link:active {
    background-color: #003d80; /* 클릭 시 더 어두운 파란색 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 클릭 시 그림자 축소 */
}