.footer {
    position: relative;
    background-color: #FFFFFF;
    border-top: 0.03px solid #E4E4E4;
    padding: 35px 0;
    text-align: center;
    width: 100%;
    margin-top: 60px;
}

.footerContent {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 14px;
    color: #7B7B7B;
}

.footerContent p {
    margin: 5px 0;
}
