.pageContainer {
    font-family: Pretendard-Medium, sans-serif;
    background-color: #101010;
    color: #DFDFDF;
}

.logo {
    width: 140px;
    display: block;
    padding-top: 60px;
    margin: 0 auto;
    cursor: pointer;
}

.mainContainer {
    display: flex;
    justify-content: center;
}

.listContainer {
    width: 650px;
    padding: 30px 30px;
    margin-top: 60px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #1D1D1D;
}

.contactContainer {
    background: #1D1D1D;
    padding: 30px 30px;
    margin-top: 60px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 480px;
    margin-left: 17px;
    line-height: 1.6;
    background-color: #1D1D1D;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 45px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    gap: 15px;
}

.formContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.label {
    font-size: 16px;
    margin-bottom: 5px;
}

.input,
.textarea {
    width: 480px;
    padding: 10px;
    border: 1px solid #545454;
    border-radius: 4px;
    font-size: 14px;
    background-color: #1E1E1E;
    transition: border-color 0.2s;
    font-family: Pretendard-Medium, sans-serif;
}

.input:focus,
.textarea:focus {
    border-color: #B0A3FF;
    outline: none;
}

.textarea {
    resize: none;
}

.submitBtn {
    width: 50px;
    height: 32px;
    background-color: #7660F5;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
    margin: 5px auto 0;
}

.submitBtn:hover {
    background-color: #54479C;
}

.helpItem {
     border-bottom: 1px solid #545454;
}

.helpData {
    display: flex;
    padding: 5px 0px;
}

.infoContainer {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    font-size: 14px;
    color: #C4C4C4;
    padding-right: 10px;
    padding-top: 1px;
    gap: 18px;
}

.helpDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 30px;
}

.helpDetails p {
    font-size: 15px;
    color: #C4C4C4;
    padding-right: 8px;
}

.deleteBtn {
    width: 45px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #7660F5;
    color: white;
    margin-top: 30px;
    transition: background-color 0.3s;
}

.deleteBtn:hover {
    background-color: #54479C;
}