.mbtiComponent {
    height: 270px;
}

.purpleClick {
    transition: fill 0.3s ease;
}

.purpleClick:hover {
    fill: #2a3fb8;
    cursor: pointer;
}

.whiteClick {
    transition: fill 0.3s ease;
    cursor: pointer;
}

.whiteClick:hover {
    fill: #E3E2E2;
}

.searchBtn {
    transition: fill 0.3s ease;
}

.searchBtn:hover {
    fill: #9D9D9D;
    cursor: pointer;
}