@font-face {
    font-family: 'Pretendard-Medium'; /* 사용할 폰트의 이름을 정의 */
    src: url('../fonts/Pretendard-Medium.otf'); /* 폰트 파일의 위치 */
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('../fonts/Pretendard-Light.otf');

}

.fade-enter {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
}

.retryBtn {
    cursor: pointer;
    transition: fill 0.3s ease;
}

.retryBtn:hover {
    fill: #E3E2E2;
}

.aniTitle {
    font-size: 12px;
    font-weight: bold;
    font-family: Gothic A1, sans-serif;
    align-items: center;
    color: #2E2E2E;
    lineHeight: 1.4;
    letterSpacing: 0.1px;
}

.aniImageBtn {
    cursor: pointer;
}