.teruteruContainer {
    position: relative;
    left: 10px;
}

.moveBtn {
    cursor: pointer;
    transition: fill 0.3s ease;
}

.moveBtn:hover {
    fill: #B6BDB5;
}

.arrowIcon {
    position: absolute;
    height: 10px;
    width: 19px;
    top: 222.5px;
    left: 115px;
    fill: #308452;
}