.teruteruContainer {
    position: relative;
    left: 10px;
}

.moveBtn {
    transition: fill 0.3s ease;
}

.moveBtn:hover {
    fill: #B6BDB5;
}

.arrowIcon {
    position: absolute;
    top: 222.5px;
    left: 115px;
}